.base_container {
    margin-bottom: 15px;
}

.header {
    margin-top: 109px;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 38px;
    color: #2C2C2C;
    margin-bottom: 8px;
}

.label1 {
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    color: #2C2C2C;
    margin-bottom: 104px;
}

.label2 {
    margin-left: 42px;
    margin-right: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 18px;
}

@media (max-width: 420px)
{ 
    .header {
        margin-top: 50px;
    }

    .label1 {
        margin-bottom: 50px;
    }
}

