.header {
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 38px;
  color: #2c2c2c;
  margin-top: 30px;
  margin-bottom: 8px;
}

.links {
  width: 332px;
  margin: 10px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uface {
  font-weight: 600;
  text-align: left;
  font-size: 17px;
  text-decoration: none;
  color: #2c2c2c;
}

.cabinetText {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  font-family: 'Montserrat';
}

.uface:hover,
.uface:visited:hover {
  text-decoration: underline;
}

.closeBtn {
  outline: none;
  text-decoration: none;
  background: none;
  border: none;
  text-align: right;
}

.closeImg {
  margin-left: 85px;
  outline: none;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.snameLabel {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.passwordRequirements {
  padding: 0;
  width: 340px;
  margin-left: calc(35px / 2);
  margin-right: auto;
  list-style: '- ';
  padding-left: 8px;
}

.passwordRequirements li {
  font-size: 11px;
  color: #e93232;
  text-align: left;
}

.disSnameLabel {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  width: 340px;
  text-align: left;
  width: 100%;
  color: #969696;
}

.my_profile {
  display: inline-flex;
}

.inputs {
  margin-bottom: 15px;
}

.formInput {
  margin-bottom: 10px;
}

.formSelect {
  margin-bottom: 15px;
}

.photo {
  object-fit: cover;
  margin-top: 11px;
  margin-left: 35px;
  width: 66px;
  height: 66px;
  border-radius: 128px;
  /* margin-bottom: 12px; */
}

.lines {
  height: 80%;
  width: auto;
  left: -15%;
  bottom: -20%;
  border-radius: 0px;
  position: fixed;
  z-index: -1;
  opacity: 0.3;
}

.PhoneConfirm {
  color: #4a4a4a;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
}

.PhoneConfirm:hover {
  color: #4a4a4a;
  text-decoration: underline;
}

.options {
  display: grid;
  text-align: right;
  padding-right: 20px;
}

.update {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #828088;
  text-decoration: none;
  background: none;
  border: none;
  margin-top: 12px;
  padding: 0;
  font-family: 'Montserrat';
  outline: none;
}

.update:visited:hover,
.update:hover,
.update_pass:visited:hover,
.update_pass:hover {
  text-decoration: underline;
  cursor: pointer;
}

.update_pass {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #4a4a4a;
  text-decoration: none;
  background: none;
  border: none;
  margin-top: 12px;
  padding: 0;
  font-family: 'Montserrat';
  outline: none;
}

.disabled_pass {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #d6d6d6;
  text-decoration: none;
  background: none;
  border: none;
  margin-top: 12px;
  padding: 0;
  font-family: 'Montserrat';
  outline: none;
  cursor: none;
}

.buttons {
  text-decoration: none;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #2c2c2c;
  margin-top: 15px;
}

.buttons:visited {
  text-decoration: none;
  color: #2c2c2c;
}

.formInput {
  margin-bottom: 15px;
}

.code_span {
  margin: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #2c2c2c;
}

/* Covid Section */

.covidContainer {
  display: flex;
  width: 100%;
  gap: 4;
}

.covidLogoContainer {
  display: flex;
  min-width: 50px;
}

.covidInfoContainer {
  display: flex;
  text-align: left;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  padding-top: 5px;
  margin-bottom: 4px;
}

.covidInfoHeader {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #246abf;
}

.covidData {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #2c2c2c;
}
